.nodered/flows_localhost.localdomain.json
[{"id":"18c93566.37275b","type":"tab","label":"Publish_to_kafka"},{"id":"9760d80f.71ecd8","type":"tab","label":"Subscribe_to_kafka"},{"id":"22305430.91d4bc","type":"tab","label":"Flow 7"},{"id":"4ac4c227.82c8cc","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fa53f759.fe6c88","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"48c1ceba.3b1da","type":"http in","z":"18c93566.37275b","name":"Post Events","url":"/Events","method":"post","swaggerDoc":"","x":120.5,"y":164,"wires":[["6c7e061b.d6ac78","53024c5f.8559b4"]]},{"id":"fa9fbf44.27938","type":"kafka","z":"18c93566.37275b","zkquorum":"localhost:2181","topics":"test","debug":true,"x":548.5,"y":97,"wires":[]},{"id":"617f5963.76a2c8","type":"debug","z":"18c93566.37275b","name":"request log","active":false,"console":"false","complete":"payload","x":491.5,"y":269,"wires":[]},{"id":"e5e3a582.00c988","type":"http response","z":"18c93566.37275b","name":"","x":556.5,"y":477,"wires":[]},{"id":"6c7e061b.d6ac78","type":"function","z":"18c93566.37275b","name":"response_body","func":"msg.payload = {\n    \"success\" : 0\n}\nreturn msg;","outputs":1,"noerr":0,"x":299.5,"y":342,"wires":[["e5e3a582.00c988","38d13164.bf41ce"]]},{"id":"38d13164.bf41ce","type":"debug","z":"18c93566.37275b","name":"response log","active":false,"console":"false","complete":"payload","x":597.5,"y":357,"wires":[]},{"id":"53024c5f.8559b4","type":"json","z":"18c93566.37275b","name":"request_body","x":310.49998474121094,"y":85,"wires":[["fa9fbf44.27938","617f5963.76a2c8"]]},{"id":"22094779.d8e2a8","type":"kafka in","z":"9760d80f.71ecd8","zkquorum":"localhost:2181","topics":"test","groupId":"0","debug":true,"autoCommit":true,"x":186.5,"y":154,"wires":[["ac8e637b.96177"]]},{"id":"ac8e637b.96177","type":"debug","z":"9760d80f.71ecd8","name":"","active":true,"console":"false","complete":"payload","x":431.49998474121094,"y":195,"wires":[]},{"id":"b1760fe3.18f2e","type":"inject","z":"22305430.91d4bc","name":"payload","topic":"","payload":"{\"firstName\" : \"Rohit\", \"lastName\" : \"Tulyani\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":94.5,"y":147,"wires":[["d0e37a7f.eedb18"]]},{"id":"d0e37a7f.eedb18","type":"function","z":"22305430.91d4bc","name":"getAccountDetails","func":"msg.payload.fullName = msg.payload.firstName + msg.payload.lastName;\nnode.log(': msg.payload is ',msg.payload );\nreturn msg;","outputs":1,"noerr":0,"x":220.49996948242188,"y":48,"wires":[["3b9eeb5f.029b74"]]},{"id":"8309f5bd.f55468","type":"debug","z":"22305430.91d4bc","name":"account before save ","active":false,"console":"true","complete":"payload","x":585.9999847412109,"y":153,"wires":[]},{"id":"1657357.0901fcb","type":"sync-observer","z":"22305430.91d4bc","name":"customer afer save observer","modelname":"Customer","method":"after save","x":139.5,"y":359,"wires":[["75d92e7b.9a2d3","bfd10573.46ac18"]]},{"id":"bfd10573.46ac18","type":"sync-observer-end","z":"22305430.91d4bc","name":"customer sync observer end","x":543.0994110107422,"y":359.0909118652344,"wires":[]},{"id":"c0bc9ff3.e1f1e","type":"debug","z":"22305430.91d4bc","name":"","active":false,"console":"false","complete":"payload","x":603.4175872802734,"y":552.5483016967773,"wires":[]},{"id":"983669c5.597c78","type":"kafka","z":"22305430.91d4bc","zkquorum":"localhost:2181","topics":"customer","debug":true,"x":538.0994110107422,"y":66.09091186523438,"wires":[]},{"id":"e0f80805.86f958","type":"kafka in","z":"22305430.91d4bc","zkquorum":"localhost:2181","topics":"customer","groupId":"0","debug":true,"autoCommit":true,"x":86.09944152832031,"y":197.09091186523438,"wires":[["194443de.2a522c"]]},{"id":"b09f8923.25b918","type":"debug","z":"22305430.91d4bc","name":"getting from kafka","active":false,"console":"true","complete":"payload","x":372.09934997558594,"y":197.09091186523438,"wires":[]},{"id":"3b9eeb5f.029b74","type":"json","z":"22305430.91d4bc","name":"json translator","x":413.0994110107422,"y":55.090911865234375,"wires":[["983669c5.597c78","8309f5bd.f55468"]]},{"id":"194443de.2a522c","type":"function","z":"22305430.91d4bc","name":"getPayload","func":"var msg1 = {};\nmsg1.payload = msg.payload.value;\nreturn msg1;","outputs":1,"noerr":0,"x":130.41761779785156,"y":263.0454406738281,"wires":[["f78341b7.c0ba3"]]},{"id":"b9b3a5be.961f78","type":"http request","z":"22305430.91d4bc","name":"customer api","method":"POST","ret":"obj","url":"http://localhost:3000/api/Customers","tls":"","x":465.0994110107422,"y":271.0909118652344,"wires":[["ec13aa6b.6ebdc8"]]},{"id":"ec13aa6b.6ebdc8","type":"debug","z":"22305430.91d4bc","name":"customer api debug","active":false,"console":"false","complete":"payload","x":668.0994110107422,"y":230.09091186523438,"wires":[]},{"id":"f78341b7.c0ba3","type":"json","z":"22305430.91d4bc","name":"json translator","x":281.09942626953125,"y":272.0909118652344,"wires":[["b9b3a5be.961f78","b09f8923.25b918"]]},{"id":"e4a30c43.d6042","type":"kafka","z":"22305430.91d4bc","zkquorum":"localhost:2181","topics":"account","debug":true,"x":612.0994110107422,"y":425.81817722320557,"wires":[]},{"id":"d43cfc4.af968","type":"json","z":"22305430.91d4bc","name":"json translator","x":464.0994110107422,"y":437,"wires":[["e4a30c43.d6042","c0bc9ff3.e1f1e","cdff2dbb.65cee"]]},{"id":"ae5d9c2.edf7d6","type":"kafka in","z":"22305430.91d4bc","zkquorum":"localhost:2181","topics":"account","groupId":"0","debug":true,"autoCommit":true,"x":81.09944152832031,"y":655.9090576171875,"wires":[["23bfd595.1698ba"]]},{"id":"23bfd595.1698ba","type":"function","z":"22305430.91d4bc","name":"get account payload","func":"var msg1 = {};\nmsg1.payload = msg.payload.value;\nmsg1.payload.accountNumber = \"12345\";\nreturn msg1;","outputs":1,"noerr":0,"x":160.0994415283203,"y":723.7273864746094,"wires":[["477c94aa.00de2c"]]},{"id":"477c94aa.00de2c","type":"json","z":"22305430.91d4bc","name":"","x":327.09938049316406,"y":740.8182373046875,"wires":[["cd8f5691.32a408","749f03ab.f77d7c"]]},{"id":"749f03ab.f77d7c","type":"http request","z":"22305430.91d4bc","name":"account api","method":"POST","ret":"obj","url":"http://localhost:3000/api/Accounts","tls":"","x":440.09942626953125,"y":701.8181762695312,"wires":[["99ce031d.e51d4"]]},{"id":"99ce031d.e51d4","type":"debug","z":"22305430.91d4bc","name":"account api debug","active":false,"console":"false","complete":"payload","x":628.0994110107422,"y":701.8181762695312,"wires":[]},{"id":"cd8f5691.32a408","type":"debug","z":"22305430.91d4bc","name":"account payload","active":false,"console":"true","complete":"payload","x":437.09942626953125,"y":644.727294921875,"wires":[]},{"id":"75d92e7b.9a2d3","type":"function","z":"22305430.91d4bc","name":"create payload","func":"var msg1 = {};\nmsg1.payload = msg.ctx.instance;\nreturn msg1;","outputs":1,"noerr":0,"x":277.0994110107422,"y":436,"wires":[["d43cfc4.af968"]]},{"id":"cdff2dbb.65cee","type":"kafka","z":"22305430.91d4bc","zkquorum":"localhost:2181","topics":"iam","debug":true,"x":616.0994262695312,"y":491.81817626953125,"wires":[]},{"id":"296f8d56.0f6822","type":"kafka in","z":"22305430.91d4bc","zkquorum":"localhost:2181","topics":"iam","groupId":"0","debug":true,"autoCommit":true,"x":72.09944152832031,"y":987.6363525390625,"wires":[["fa63d86c.30a768"]]},{"id":"fa63d86c.30a768","type":"function","z":"22305430.91d4bc","name":"get iam payload","func":"var msg1 = {};\nmsg1.payload = msg.payload.value;\nmsg1.payload.accountNumber = \"12345\";\nreturn msg1;","outputs":1,"noerr":0,"x":183.0994415283203,"y":1064.3636474609375,"wires":[["bbe8584f.e501b8"]]},{"id":"bbe8584f.e501b8","type":"json","z":"22305430.91d4bc","name":"json translator","x":360.09938049316406,"y":1105.6364135742188,"wires":[["84126d49.cb212","b84919ed.c25fe8"]]},{"id":"b84919ed.c25fe8","type":"http request","z":"22305430.91d4bc","name":"iam api","method":"POST","ret":"obj","url":"http://localhost:3000/api/Iams","tls":"","x":519.0994110107422,"y":1106.6362915039062,"wires":[["9ac19fb7.142e5"]]},{"id":"9ac19fb7.142e5","type":"debug","z":"22305430.91d4bc","name":"iam api debug","active":false,"console":"false","complete":"payload","x":639.0994110107422,"y":1060.6364135742188,"wires":[]},{"id":"84126d49.cb212","type":"debug","z":"22305430.91d4bc","name":"iam payload","active":false,"console":"true","complete":"payload","x":455.0994110107422,"y":1019.6363525390625,"wires":[]},{"id":"be469a51.d801e8","type":"sync-observer","z":"22305430.91d4bc","name":"account after save observer","modelname":"Account","method":"after save","x":136.0994415283203,"y":800.6363525390625,"wires":[["7294da8c.6406b4","e29811e2.5b1a8"]]},{"id":"7294da8c.6406b4","type":"function","z":"22305430.91d4bc","name":"create payload","func":"var msg1 = {};\nmsg1.payload = msg.ctx.instance;\nreturn msg1;","outputs":1,"noerr":0,"x":376.09942626953125,"y":841.54541015625,"wires":[["32055ea4.894252"]]},{"id":"e29811e2.5b1a8","type":"sync-observer-end","z":"22305430.91d4bc","name":"account observer end","x":589.0994262695312,"y":799.54541015625,"wires":[]},{"id":"e6a40d33.b469b","type":"kafka","z":"22305430.91d4bc","zkquorum":"localhost:2181","topics":"account","debug":true,"x":647.0994110107422,"y":872.5453796386719,"wires":[]},{"id":"32055ea4.894252","type":"json","z":"22305430.91d4bc","name":"","x":503.0994110107422,"y":886.5453796386719,"wires":[["e6a40d33.b469b","da71ed22.8e89f"]]},{"id":"da71ed22.8e89f","type":"debug","z":"22305430.91d4bc","name":"payload debug","active":true,"console":"false","complete":"payload","x":541.0994262695312,"y":950.3635864257812,"wires":[]},{"id":"d8114195.a93a7","type":"sync-observer","z":"22305430.91d4bc","name":"iam after save observer","modelname":"Iam","method":"after save","x":112.09944152832031,"y":1181.272705078125,"wires":[["c25807c5.4dce78","7c34e919.5f8ce8"]]},{"id":"c25807c5.4dce78","type":"sync-observer-end","z":"22305430.91d4bc","name":"iam observer end","x":411.09942626953125,"y":1178.363525390625,"wires":[]},{"id":"7c34e919.5f8ce8","type":"function","z":"22305430.91d4bc","name":"Edit function","func":"var msg1 = {};\nmsg1.payload = msg.ctx.instance;\nreturn msg1;","outputs":1,"noerr":0,"x":299.09942626953125,"y":1242.1817626953125,"wires":[["24542718.c05258"]]},{"id":"24542718.c05258","type":"json","z":"22305430.91d4bc","name":"","x":449.0994110107422,"y":1257.272705078125,"wires":[["95637016.8dcf9","2be5d174.2b38ae"]]},{"id":"95637016.8dcf9","type":"kafka","z":"22305430.91d4bc","zkquorum":"localhost:2181","topics":"account","debug":true,"x":635.0994262695312,"y":1219.272705078125,"wires":[]},{"id":"2be5d174.2b38ae","type":"debug","z":"22305430.91d4bc","name":"payload debug","active":true,"console":"false","complete":"payload","x":582.0994262695312,"y":1312.272705078125,"wires":[]}]